<form action="<%= post_comments_path(post) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="w-100 d-flex ">
    <textarea name="comment[content]" class="w-100" style="min-height:40px; max-height: 80px; height: 40px;" rows="6" value></textarea>
    <input type="submit" value="submit">
  </div>
</form>