<h1>Posts</h1>

<div class="container">
  <% @posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
</div>
<%= paginate @posts %>
<br>
<% if can? :create, @posts %>
  <%= link_to 'New Post', new_post_path %>
<% end %>