// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

img{
  width: 100% !important;
  height: 170px !important;
}

@media (min-width: 576px) {
  img {
    height: 240px !important;
  }
}